{% extends 'base.html' %}
{% block title %}Reverso Solutions{% endblock title %}


{% block body %}
<div class="textslider">
   
       
    <p class="item-1">&nbsp;<b>Welcome to Reverso Solutions</b><br><i>Leading You To Trending Technologies</i></p>
    <p class="item-2">&nbsp; &nbsp;<b>Ready to begin your journey?</b><br>&nbsp;<i> Click the button below</i></p>
    <p class="item-3">&nbsp; &nbsp; <b>Need a web solutions?</b><br><i>website designing, graphic designing, logo, banner etc ..</i></p>



<button type="button" class="btn btn-danger">CLICK TO BEGIN</button>
</div>

<div class="container" >
   
  <div class="services"style="background-color:grey;">
<h1 class="glow"align="center" >Our Services</h1>


<div class="row">
  <div class="column">
    <div class="card">
      <h2>Training And Placements</h2><br>
      <p class="para">Reverso Solutions will provide you the best job oriented training with the help of professionals working in top MNC's, who knows how to fill the gap between theoretical & industrial knowledge.<br><br>Reverso Solutions offers placement assistance to it's students & provides career development training to prepare students for jobs in IT/Telecom sector in India. We don’t promise placements rather we prepare students in such a way that they can see themselves standing out of the crowd.</p>
      
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h2>Web Solutions</h2><br><br>
      <p class="para">Reverso Solutions will provide complete web solutions like Responsive website designing, content strategy, copyrighting services, graphic design, logo design banner design.<br><br><br>
        Reverso Solutions will also provide digital marketing services like Search Engine Optimization (SEO), Social media optimization (SMO), email marketing and many promotion oriented services that will enhance sales of your business.</p><br><br><br>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h2>Staffing Services</h2><br><br>
      <p class="para">
        We have our database with over 10 Lakhs candidates. It helps you to recruit the candidates who are going to be match along with your requirement. It helps us to fill the positions faster. Our recruitment teams have domain knowledge and will be able to fill positions of your company to the proper candidates. Reverso Solutions are in touch with several consultants all over India in specialized recruitment. Reverso Solutions provide consultancy especially in recruitment of IT & Telecom professionals</p><br><br><br>
    </div>
  </div>
</div>
  <button class="button button3">SEE SOME MORE SERVICES</button>
</div>
  {% comment %} <button class="button button3">SEE SOME MORE SERVICES</button> {% endcomment %}
 
  <div class="container1">
   <div>
    <h1 align="center" style="top:10px;padding:50px;">COURSES WE OFFER</h1>
    <div class="animate">
      <div class="row">
        <div class="column" style="width:40%;">
      <div class="crs"id="div1"><p>Telecom Training(2G,3G,4G and 5G)</p>
      </div><br>
      <div class="crs"id="div1"><p>SIP/VoIP & VoLTE Protocol Testing</p></div><br>
      <div class="crs"id="div1"><p>Python</p></div><br>
      <div class="crs"id="div1"><p>Java</p></div><br>
      </div>
    <div class="column" style="width:40%;">
      <div class="crs1"id="div2" ><p >C Language with Project</p>
      </div><br>
      <div class="crs1"id="div2"><p>Technical Skills Development Program</p></div><br> 
    
      <div class="crs1"id="div2"><p>Public Speaking and Personality Developement</p></div><br>
      <div class="crs1"id="div2"><p>Six Weeks Summer Training</p></div><br>

    </div>
    <a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:2%;">Know More</a>
   </div>
      </div>

    
  </div>
<div><br>
  <div class="container3"style="">
    <div class="job">
      <h1 align="center" style="margin-top:50px;font-family: cursive;color:black;padding:10px;">100% JOB GUARANTEED COURSES</h1></div>

    <div>
      <div class="row">
        <div class="col-sm-4">
           <img src="../static/img/job.jpeg"style="width:100%;height:100%">
        </div>
        <div class="col-sm-8" style="">
          <h2 style="color:black;margin-top:20px;">In-house Courses</h2>
          <p style="color:black;text-align:justify;margin:10px;">Reverso Solutions offers 100% Job Placement guarantee in expert level courses. Any one who wants to make career in IT industry, HURRY UP!! Register for free demo class.</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<br><br>

  







<div class="container2" >
  
  <div class="card-columns">
    <div class="card bg-light">
      <div class="card-body text-center">
        <h5 class="card-text" style="color:black;text-align:center;">SIP/VoIP & IMS/VoLTE Training</h5><br>
        <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
        <a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a>
   
      </div>
    </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <h5 class="card-text"style="color:black;text-align:center;">Python Training</h5><br>
        <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
        <br><a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a><br>
   
      </div>
    </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <h5 class="card-text" style="color:black;text-align:center;">Java Training</h5><br>
        
        <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
        <br><a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a><br>
   
      </div>
    </div>
    
  </div>
</div>


<div class="container6">
  <h2 style="color: #800000;text-align:center;padding:90px;">DO YOU WANT TO...</h2>


  <div class="card-columns">
    <div class="card bg-dark">
      <div class="card-body text-center">
        <h6 class="card-text" style="color:grey;text-align:center;">Enroll for the courses we provide?
        </h6><br>
        <button type="button" class="btn btn-outline-danger">CLICK HERE FOR FREE DEMO CLASSES</button><br><br>
      </div>
    </div>
   
    <div class="card bg-dark">
      <div class="card-body text-center">
        <h6 class="card-text" style="color:grey;text-align:center;">Do you need a web solutions?</h6><br>
        <button type="button" class="btn btn-outline-danger">CLICK HERE TO CONTACT US</button><br><br><br>
      </div>
    </div>
    
    <div class="card bg-dark">
      <div class="card-body text-center">
        <h6 class="card-text" style="color:grey;text-align:center;">Do you need a Virtual Assistant?</h6><br>
        <button type="button" class="btn btn-outline-danger">SHERE YOUR WORK IN DETAIL</button><br><br><br>
      </div>
    </div>
    
  </div>



</div>

<div class="container7">
  {% comment %} <h1 align="center"style="background-color:red;">WEB SOLUTIONS SERVICES</h1><br {% endcomment %}

  
  <div class="title">
    <h1><span style="color: #ff9f43">WEB</span><span style="color: #0abde3">SOLUTIONS</span><span style="color: #5f27cd">SERVICES<span></h1>
  </div>
  <div class="card-columns">
    <div class="card1">
      <div class="card-body text-center">
        <a href="#"><img src="../static/img/website-designing.jpg"></a>
      </div>
    </div>
   
    <div class="card1">
      <div class="card-body text-center">
        <a href="#"><img src="../static/img/1.jpg"></a>
      </div>
    </div>
    
    <div class="card1">
      <div class="card-body text-center">
        <a href="#"><img src="../static/img/2.jpg"></a>
      </div>
    </div>

    
  
</div>

<div class="card-columns">
  <div class="card1">
    <div class="card-body text-center">
      <a href="#"><img src="../static/img/3.jpg"></a>
    </div>
  </div>
 
  <div class="card1">
    <div class="card-body text-center">
      <a href="#"><img src="../static/img/4.jpg"></a>
    </div>
  </div>
  
  <div class="card1">
    <div class="card-body text-center">
      <a href="#"><img src="../static/img/5.jpg"></a>
    </div>
  </div>
</div>
</div>
  <div class="container8">
    <h1 align="center" style="font-family: cursive;color:black;padding:10px">STAFFING SERVICES</h1><br><br>

    

  <div class="row"style="padding:0 50px">
    <div class="col-sm-7">
      <h3  style="font-family: cursive;color:black;padding:10px">HIRE AN EXPERT</h3><br>
      <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">Reverso Solutions offers 100% Job Placement guarantee in expert level courses. Any one who wants to make career in IT industry, HURRY UP!! Register for free demo class.</p>
    
    <br><br>
    <a href="#">SEND YOUR REQUIREMENT</a>
    </div>
    <div class="col-sm-4">
      <a href="#"><img src="../static/img/study-box_1.jpg"width="100%"></a>
    </div>
  </div>
<br>
 <hr>
  <div class="row"style="padding:0 50px;margin-top:50px;background-color:#F5F5F5;  ">
    
    <div class="col-sm-5">
      <a href="#"><img src="../static/img/study.jpeg"width="100%"></a>
    </div>

    <div class="col-sm-7">
      <h3  style="font-family: cursive;color:black;padding:10px">HIRE ON CONTRACT OR PROJECT BASED</h3><br>
      <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">Reverso Solutions has numbers of efficient employees for each sectors on our payroll, ready to move to serve the company’s trying to find the project basis or contract employment. Reverso Solutions lookout each and every aspects of employee payroll, human resource and employee satisfaction.</p>
    
    <br><br>
    <a href="#">SEND YOUR REQUIREMENT</a>
    </div>
   
  </div>

  <hr>
  <br>
  <div class="row"style="padding:0 50px">
    <div class="col-sm-7">
      <h3  style="font-family: cursive;color:black;padding:10px">CAREER COUNSELING</h3><br>
      <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">Reverso Solution helps freshers and young professionals to select an established their career. If you are looking for new job, job change, profile change or career change, Reverso Solutions is the best platform to lead you to trending technologies with the best fit profile for you.</p>
    
    <br><br>
    <a href="#">POST YOUR RESUME</a>
    </div>
    <div class="col-sm-4">
      <a href="#"><img src="../static/img/st.jpeg"width="100%"></a>
    </div>
  </div>
<br>
 <hr>
 <div class="row"style="padding:0 50px;margin-top:50px;background-color:#F5F5F5;">
  <div class="col-sm-6">
    <h3  style="font-family: cursive;color:black;padding:10px">WHAT ELSE WE PROVIDE?</h3><br>
    <h6 style="color:black;font-weight:bold;">GRAPHIC DESIGNING</h6>
    <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">Reverso Solutions design beautiful, high-resolution graphic designing which will help your business to achieve long-term success online.</p>
  
  <br><br>

  <h6 style="color:black;font-weight:bold;">LOGO DESIGNING</h6>
  <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">A logo is not just a small piece of art , it is the building block of your company must be a strong brand identity. Using it on different parts of your business, like website,label, social media, etc.</p>
  
  <br><br>

  <h6 style="color:black;font-weight:bold;">VIRTUAL ASSISTANT</h6>
  <p style="color:black;text-align:justify;margin:10px;line-height: 2.0;">You can share your work and we will make it done hourly, weekly or monthly basis virtually. You can save your precious time by hiring a virtual assistant.</p>
  
  <br><br>
  </div>
  <div class="col-sm-4">
    <iframe 
src="https://www.youtube.com/embed/tgbNymZ7vqY" style="">
          </iframe>
  </div>
</div>
<br>
<hr>

</div>

 
 <div class="container9"></div>
 <div class="container10">
  <div class="row">
    <div class="col-sm-8">
      <h6 style="padding:50px 0px;color:white">WANT TO KNOW MORE ABOUT OUR COMPANY? CURIOUS WHAT ELSE WE DO?</h6>
    </div>
    <div class="col-sm-4" style="">
      <button type="button" class="btn btn-outline-danger" style="float:right;margin:35px;">LEARN MORE</button>
    </div>
    </div>
  
  
 </div>

 <div class="container11">
  
 
 <div class="social">
<i class="fa-brands fa-facebook-f"style="font-size: 50px;color:white;"></i>&nbsp;&nbsp;
<i class="fa-brands fa-linkedin-in"style="font-size: 50px;color:white;"></i>&nbsp;&nbsp;
<i class="fa-brands fa-instagram"style="font-size: 50px;color:white;"></i>&nbsp;&nbsp;
<i class="fa-brands fa-twitter"style="font-size: 50px;color:white;"></i>
 </div>
 </div>

 <div class="container12">
  <footer>
    <h5 style="padding:50px 60px; color:white;">GET IN TOUCH</h5>
    <p><i class="fa-solid fa-house-chimney"style="margin-left:50px;color:white;"></i>G-29 Lower Ground Floor, Lajpat Nagar- 2, Delhi 110024<br><br>
    <i class="fa-solid fa-phone-flip" style="margin-left:50px;color:white;"></i>+91- 9620020759, +91- 9742151668<br><br>
    <i class="fa-solid fa-envelope" style="margin-left:50px;color:white;"></i>info@reversosolutions.com</p>
  </footer>
</div>

</div>
</div>
</div>

{% endblock %}

