{% extends 'base.html' %}
{% block title %}Reverso Solutions{% endblock title %}

{% block body %}

<div class="container15">
    <img src="../static/img/Inhouse-course.png" width="100%">
    <div>
    <div class="card-columns">
        <div class="card bg-light">
          <div class="card-body text-center">
            <h5 class="card-text" style="color:black;text-align:center;">SIP/VoIP & IMS/VoLTE Training</h5><br>
            <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
            <a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a>
       
          </div>
        </div>
        
        <div class="card bg-light">
          <div class="card-body text-center">
            <h5 class="card-text"style="color:black;text-align:center;">Python Training</h5><br>
            <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
            <a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a>
       
          </div>
        </div>
        
        <div class="card bg-light">
          <div class="card-body text-center">
            <h5 class="card-text" style="color:black;text-align:center;">Java Training</h5><br>
            
            <p style="color:black;text-align:center;margin:10px;">100% Job Placement Guarantee at minimum package 5 Lacs INR</p>
            <a href="#" class="btn btn-danger"style="outline:none;text-decoration:none;margin-top:12%;">Know More</a>
       
          </div>
        </div>
      

    </div>
</div>
<div></div>
<div>
    <h2 style="padding:60px;">Jump Start your career with our 100% Job Guarantee Program</h2><br><br>

    <h5 style="color:black; padding:40px;">100% Job Guarantee Program Training Benefits for:</h5>
    <ul>
        <li style="color:black;margin-left:10%;">B. Tech Graduates (Any Stream).</li>
        <li style="color:black;margin-left:10%;">Graduates who have Career/Educational gap.</li>
        <li style="color:black;margin-left:10%;">Graduates with willingness to change their domain.</li><br>
        <li style="color:black;margin-left:5%;font-weight:bold;text-decoration:none;">Note: 100% Attendance is mandatory in this program</li>
    </ul>
  
<br>
<h5 style="color:black; padding:40px;">Who is this program is designed for ?</h5>
    <ul>
        <li style="color:black;margin-left:10%;">Fed up of their Domain and need a better Switch</li>
        <li style="color:black;margin-left:10%;">Tired of attending interviews but not getting job</li>
        <li style="color:black;margin-left:10%;">Less confidence in the interview</li>
        <li style="color:black;margin-left:10%;">Poor technical skills</li>
    </ul>

      
<br>
<h5 style="color:black; padding:40px;">Who is this program is designed for ?</h5>
    <ul>
        <li style="color:black;margin-left:10%;">On paper job guarantee</li>
        <li style="color:black;margin-left:10%;">3 months training by experts</li>
        <li style="color:black;margin-left:10%;">24*7 support over phone</li>
        <li style="color:black;margin-left:10%;">Dedicated Faculty</li>
        <li style="color:black;margin-left:10%;">Technical skill development</li>
        <li style="color:black;margin-left:10%;">Mock interviews</li>
        <li style="color:black;margin-left:10%;">Application in relevant companies</li>
        <li style="color:black;margin-left:10%;">Notes</li>
        <li style="color:black;margin-left:10%;">Hands-on training program</li>
        <li style="color:black;margin-left:10%;">Certified Trainers</li>
        <li style="color:black;margin-left:10%;">Weekends 12 Hours of Mandatory Practical on a hands-on project</li>
        <li style="color:black;margin-left:10%;">Resume writing sessions</li>
        <li style="color:black;margin-left:10%;">Free Personality development & Spoken English Course</li>
    </ul>

    
</div>
<br>
<div class="rev"style="color:black;background-color:;margin-top:10%;margin:5%">
    REVERSO SOLUTIONS stands out with its unique written Placement of 100% job guarantee assurance.<br> <br>
    Our key aim is to deliver Job Oriented Training for our students to make their career in the field of trending Technology.<br><br>
    ‘REVERSO’s training methodology and customized courses promise employ-ability, and not just certifications. Our Institute prepare its candidates as per latest and advanced corporate requirements. Once candidates are given a thorough understanding of theory and practical sessions, they are asked to perform on live projects under supervision of our mentors the industrial experts.<br><br>
    We take utmost care to ensure that whatever candidates learn in the labs gets transformed in practical knowledge. They are trained to work in real-time environments and on real time projects so that when they join MNCs and MLCs, they find it easy to adapt themselves in the high pressure environment.<br><br>
REVERSO SOLUTIONS has come up with a unique concept through which we are training students in right manner to match with current and future requirements by considering all Industry Aspects. REVERSO is working on Customized Training Programs according to Real Time Working Skill sets.<br><br>
<ul>
    <li style="color:black;margin-left:10%;">Exclusive Interview Cracker tools & techniques to Prepare for Interview.</li>
    <li style="color:black;margin-left:10%;">Provide Interview Cracker Scenario based Questions and Answers to prepare for Interview</li>
    <li style="color:black;margin-left:10%;">Build your Resume on Industry Standards and share with various Companies hiring from us.</li>
    
</ul><br><br>
Our Job Guarantee Program is designed after a deep research with industry experts, Placement Officers, Technical Heads. These courses are designed and made as per industry standards and are planned with such a way that the job seekers or students must get a job after successful completion of the training course. These training courses are full of hands-on project practical, personality development and resume writing sessions, mock tests, exams, interviews.<br><br>
Industry Demands Skills and students do not have required skill sets. The reason is very simple, due to a huge gap between Industry demands and college curriculum.<br><br><br><br>
Placement corner: – Unlimited interview calls till and unless you’re placed. Grooming sessions by HR and mock interview sessions, etc. Specific offerings from REVERSO SOLUTIONS play a very important role in making its 100 % Job Guarantee Course feature a huge success!
<br><br><br><br></div>
</div>
<div class="container16">
<footer  style="background-color: black;color:white;height: 50vh;">
    <h5 style="padding:50px 60px">GET IN TOUCH</h5>
    <i class="fa-solid fa-house-chimney"style="margin-left:50px;"></i>G-29 Lower Ground Floor, Lajpat Nagar- 2, Delhi 110024<br><br>
    <i class="fa-solid fa-phone-flip" style="margin-left:50px;"></i>+91- 9620020759, +91- 9742151668<br><br>
    <i class="fa-solid fa-envelope" style="margin-left:50px;"></i>info@reversosolutions.com
  </footer>
</div>
{% endblock %}