{% extends 'base.html' %}
{% block title %}Reverso Solutions{% endblock title %}

{% block body %}
<style>
  {% comment %} .dropbtn {
    padding:16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    padding: 10px 100px;
    position: relative;
    overflow: auto;
    z-index: 1;
  }
  
 
  .show {display: block;}
  hr{
    border:6px solid grey;
    border-radius: 50px;
  }
   {% endcomment %}
  </style>
<div></div>
<div class="container15"style="margin:7% 3%;background-color:#ddd;">
  <img src="../static/img/protocol-testing.png" width="100%">

<div>
<p style="color:black;text-align:left;margin:20px;">Through our classroom and online courses, professionals and freshers would be able to build their career in the field of SIP/VoIP and IMS/VoLTE protocol testing.</p>
</div>

  
  <div class="row"style="margin:20px;">
    <div class="col-sm-6">
      <h3>SIP/VoIP Protocol Testing Syllabus</h3><br><br>
      
<div class="dropdown">
  <h6 onclick="myFunction()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Introduction to SIP</h6>
  <div id="myDropdown" class="dropdown-content">
    <ul>
    <li>Scope</li>
    <li>Architecture</li>
    <li>SIP network elements</li>
    <li>Types of servers</li>
    <li>Transaction</li>
    <li>Dialog</li>
    <li>Session </li>
    <li>Mandatory and Optional headers</li>
    <li>SIP Request and Responses</li>
    <li>Codecs</li>
    <li>B2B UAs</li>  
  </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}
<div class="dropdown">
  <h6 onclick="myFunction1()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;SIP Call Flows</h6>
  <div id="myDropdown1" class="dropdown-content">
    <ul>
    <li>Call Hold</li>
    <li>Consultation Hold</li>
    <li>Music on Hold</li>
    <li>Transfer – Unattended</li>
    <li>Transfer – Attended</li>
    <li>Transfer – Instant Messaging</li>
    <li>Call Forwarding Unconditional</li>
    <li>Call Forwarding – Busy</li>
    <li>Call Forwarding – No Answer</li>
    <li>3-Way Conference – Third Party Is Added</li>
    <li>3-Way Conference – Third Party Joins</li>  
    <li>Forking</li>
    <li>Call Management</li>
    <li>Call Park</li>
    <li>Call Pickup</li>
    <li>Automatic Redial</li>
    <li>Click to Dial</li>  
  </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}
<h3>IMS/VoLTE Protocol Testing Syllabus</h3>

<div class="dropdown">
  <h6 onclick="myFunction2()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Introduction to IMS</h6>
  <div id="myDropdown2" class="dropdown-content">
    <ul>
    <li>IMS architecture</li>
    <li>IMS Entities and its functionalities</li>
    <li>Reference Points</li>
    <li>Internetworking with other networks</li>
   </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction3()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;PCSCF Discovery</h6>
  <div id="myDropdown3" class="dropdown-content">
    <ul>
    <li>PDP Context method</li>
    <li>DHCP Method</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction4()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;ICSCF Discovery</h6>
  <div id="myDropdown4" class="dropdown-content">
    <ul>
    <li>DNS Query</li>
   </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction5()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;SCSCF Assignment</h6>
  <div id="myDropdown5" class="dropdown-content">
    <ul>
    <li>Optional and mandatory capabilities</li>
    <li>AVP’s</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction6()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Application Server assignment</h6>
  <div id="myDropdown6" class="dropdown-content">
    <ul>
    <li>Initial Filter Criteria</li>
    <li>Service Point Trigger</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction7()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Precondition</h6>
  <div id="myDropdown7" class="dropdown-content">
    <ul>
    <li>SDP</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction8()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;IMS Charging</h6>
  <div id="myDropdown8" class="dropdown-content">
    <ul>
    <li>Online Charging</li>
    <li>Offline Charging</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}

<div class="dropdown">
  <h6 onclick="myFunction9()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;IMS Call Flows</h6>
  <div id="myDropdown9" class="dropdown-content">
    <ul>
    <li>IMS Registration</li>
    <li>VoLTE Call</li>
    <li>IMS to IMS Call</li>
    <li>IMS to PSTN Call</li>
    <li>Conference Call</li>
    <li>SRVCC Call</li>
    </ul>
  </div>
</div>
<hr style=" border:6px solid grey;  border-radius: 50px;">
{% comment %}  {% endcomment %}
      
    </div>
    <div class="col-sm-6" style="">
      <h3>After Completion of course</h3><br><br>


      <div class="dropdown">
        <h6 onclick="myFunction12()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Tools and Practicals</h6>
        <div id="myDropdown12" class="dropdown-content">
          <p style="color:black;text-align:left;">Reverso Solutions is committed to provide you the best practical knowledge as per the need of the Industry.<br>We have the world-class Lab set up to give you the different flavors of the IT industry,<br>We provide you the access to all the tools used in the companies and you’ll be able to install them in your machines for hands-on Experience.</p>

        </div>
      </div>
      <hr style=" border:6px solid grey;  border-radius: 50px;">
            {% comment %}  {% endcomment %}
            
      <div class="dropdown">
        <h6 onclick="myFunction13()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Resume Preparation</h6>
        <div id="myDropdown13" class="dropdown-content">
          <p style="color:black;text-align:left;">
            We take care of everything you need while you get interviewed. Your resume will be prepared by our industry experts and so there is no chance of rejection while your CV gets scrutinized.
          </p>

        </div>
      </div>
      <hr style=" border:6px solid grey;  border-radius: 50px;">
            {% comment %}  {% endcomment %}
            <div class="dropdown">
              <h6 onclick="myFunction14()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Project Explanation</h6>
              <div id="myDropdown14" class="dropdown-content">
                <p style="color:black;text-align:left;">
                  We’ll together work on a live project and mention the same in your resume too.<br>
                  Your faculty will explain the key concept of the project, related tools, day to day activities, and will share his experiences while he works sitting in the cube. 
                </p>
      
              </div>
            </div>
            <hr style=" border:6px solid grey;  border-radius: 50px;">
      
            {% comment %}  {% endcomment %}
            <div class="dropdown">
              <h6 onclick="myFunction15()" class="dropbtn"><i class="fa-solid fa-caret-right"></i>&nbsp;Mock Interviews</h6>
              <div id="myDropdown15" class="dropdown-content">
                <p style="color:black;text-align:left;">
                  We train you for Interviews. Two mock interviews will be conducted by our experts giving you the same feeling as a real one. This will not only make fearless but also you will be able to crack the first interview coming your way.
                </p>
      
              </div>
            </div>
            <hr style=" border:6px solid grey;  border-radius: 50px;"><br><br>
            {% comment %}  {% endcomment %}
            <a href="#" class="btn btn-info"style="width:100%;">Download Syllabus</a><br><br><br>
            <a href="#" class="btn btn-info"style="width:100%;">Purchase this course</a>
            {% comment %}  {% endcomment %}

    </div>
    </div>
    <a href="#" class="btn btn-info"style="width:95%;margin:2%"> CLICK HERE FOR FREE DEMO CLASSES</a><br><br>
   
</div>

<div class="container16">
<footer>
    <h5 style="padding:50px 60px">GET IN TOUCH</h5>
    <i class="fa-solid fa-house-chimney"style="margin-left:50px;"></i>G-29 Lower Ground Floor, Lajpat Nagar- 2, Delhi 110024<br><br>
    <i class="fa-solid fa-phone-flip" style="margin-left:50px;"></i>+91- 9620020759, +91- 9742151668<br><br>
    <i class="fa-solid fa-envelope" style="margin-left:50px;"></i>info@reversosolutions.com
  </footer>
</div>












{% comment %} script {% endcomment %}
<script>
  /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  function myFunction1() {
    document.getElementById("myDropdown1").classList.toggle("show");
  }
  
  function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
  }
  function myFunction3() {
    document.getElementById("myDropdown3").classList.toggle("show");
  }
  function myFunction4() {
    document.getElementById("myDropdown4").classList.toggle("show");
  }
  function myFunction5() {
    document.getElementById("myDropdown5").classList.toggle("show");
  }
  function myFunction6() {
    document.getElementById("myDropdown6").classList.toggle("show");
  }
  function myFunction7() {
    document.getElementById("myDropdown7").classList.toggle("show");
  }
  function myFunction8() {
    document.getElementById("myDropdown8").classList.toggle("show");
  }
  function myFunction9() {
    document.getElementById("myDropdown9").classList.toggle("show");
  }
  function myFunction10() {
    document.getElementById("myDropdown10").classList.toggle("show");
  }
  function myFunction11() {
    document.getElementById("myDropdown11").classList.toggle("show");
  }
  function myFunction12() {
    document.getElementById("myDropdown12").classList.toggle("show");
  }
  function myFunction13() {
    document.getElementById("myDropdown13").classList.toggle("show");
  }
  
  function myFunction14() {
    document.getElementById("myDropdown14").classList.toggle("show");
  }
  function myFunction15() {
    document.getElementById("myDropdown15").classList.toggle("show");
  }
  
  
  </script>
  
{% endblock %}